.header {
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__left {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
}

.header__logo {
  height: 25px;
  width: 25px;
  margin-left: 1rem;
  object-fit: contain;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.header__input > input {
  flex: 1;
  border: none;
  outline: none;
  padding-left: 1rem;
}

.header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.header__icons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__icon {
  margin-right: 5px;
}
