.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000;
}

h1 {
  font-size: 8rem;
  font-family: "Poppins";
  color: white;
}
